/* Nav */
.navbar {
    overflow: hidden;
    background-color: #333; 
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  .subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: aquamarine;
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: aquamarine;
    width: 100%;
    z-index: 1;
  }
  
  .subnav-content a {
    float: left;
    color: rgb(40, 37, 37);
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: block;
  } 
/* Style */

/* Grid */
.grid-container {
    margin: auto;
    align-content: center;
    display:grid;
    justify-content: center;
    
}
body {
    margin: 40px;
  }
  
  .sidebar {
      grid-area: sidebar;
    }
  
    .sidebar2 {
      grid-area: sidebar2;
    }

   .sidebar3 {
    grid-area: sidebar3;
   } 

   .sidebar4{
    grid-area: sidebar4;
   }
  
   .sidebar5{
    grid-area: sidebar5;
   }

    .content {
      grid-area: content;
    }
  
   .header {
      grid-area: header;
    }
  
    .footer {
      grid-area: footer;
    }
    
  
    .wrapper {
      background-color: #fff;
      color: #444;
      
    }
  
    .wrapper {
      display: grid;
      grid-gap: 1em;
      grid-template-areas:
      
       "header" 
       "sidebar"
       "content"
       "sidebar2"
       "sidebar3"
       "sidebar4"
       "sidebar5"
       "footer" 
    }
  
    @media only screen and (min-width: 500px)  {
    .wrapper {
  
      grid-template-columns: 20% auto;
      grid-template-areas:
       "header header"
      "content content"
      "sidebar sidebar2"
      "sidebar4 sidebar4 "
      "sidebar3 sidebar5"
      "footer  footer";
    }
    .sidebar img {
          flex: 150%;
          max-width: 100%;
        }
        .sidebar2 {
          flex: 100%;
          max-width: 100%;
         
        }
    }
    
  
    @media only screen and (min-width: 600px)   {
      .wrapper {
        grid-gap: 20px;
        grid-template-columns: 120px auto 120px;
        grid-template-areas:
        "header header header header header"
        "sidebar sidebar content sidebar2 sidebar2 "
        "sidebar3 sidebar3 sidebar4 sidebar5 sidebar5"
        "footer footer footer footer footer";
        max-width: 600px;
      }
      .sidebar img {
        flex: 100%;
        max-width: 100%;
      }
      .sidebar2 img {
        flex: 100%;
        max-width: 89%;
      
      }
    
    }
  
  .box {

    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%; 
  }
  
  .header,
  .footer {
    background-color: #999;
  }
  
  .sidebar2 {
    background-color: #444;
    color: #fff;
  }

  .sidebar3 {
    background-color: aquamarine;
    color:#999
  }

  .sidebar4 {
    background-color:#ccc;
    color: #444;
  }

  .sidebar5 {
    background-color:aquamarine ;
    color:#999;
  }